footer {

    min-height: 222px;
    background-color: #edeef0;
    border-top: solid 7px #ed1d24;
    margin-top: 35px;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    color: #4a4a4a;
}

.footerContent {
    background-color: #e6e7e8;
    padding: 40px;
}